html,body{
    min-height: 100%;
    height: 100%;
    overflow: auto;
}
.test{
    height: 600px !important;
    width: 350px !important;
}
h2{
    text-align: center;
    font-family: Roboto;
}
img{
    height: 100% !important;
    width: 100% !important;
}
.all{
    width: 100%;
    height: 100%;
}
.bace{
    background-color: #C1FFC1;
    height: 100%;
}
.btnStyle{
    background-color: #3CB371;

}
.btnStyle:hover{
    background-color: #F4A460;

}
.fitter{
    border: 2px;
    border-radius: 10px;
    width: 96%;
    margin-left: 1%;
    box-shadow:1px 1px 4px #698B69;
}

.contentWrapper{
    background-color: #8FBC8F;
    height:91%;
}
.topHeader{
    background-color: #2E8B66;
    box-shadow: 0px 2px #698B69;
}
.postgrace {
    background-color:#E6E6FA;
    box-shadow:1px 1px 4px #698B69;
    border: 2px;
    border-radius: 10px;
    height: 98%;
    margin-top: 1%;
    display: block;

}
.irbis {
    background-color:#E6E6FA;
    box-shadow:1px 1px 4px #698B69;
    border: 2px;
    border-radius: 10px;
    height: 98%;
    margin-top: 1%;
    display: block;

}
.postbookInfo{
    width: 96% !important;
    margin-top: 5px;
    background-color: #FAF0E6;
    border-radius: 5px;
    height: 90px;
}
.irbisbookInfo{
    width: 98%;
    margin-top: 5px;
    background-color: #FAF0E6;
    border-radius: 5px;
    height: 60%;
    overflow: auto;
}

.postView{
    margin-top: 10px;
    height: 600px;

}
.jpgRewind{

    margin-top: 15px;

}
.bookRewind{
    position: relative;
    margin-top: 5%;
}

.prevBook{
    box-sizing: border-box;
    margin-left: 70px;
    float: left;
    width: 25%;
}
.nextBook{
    margin-right: 70px;
    float: right;
    width: 25%;
}
.test{
    display: inline-block;
    float: none;
    color: red;
    align-items:center;
    vertical-align: middle;
}
.irbisbookRewind{
    margin-top: 7px;
}
.searchForm{
}
.searchResult{
    width: 98%;
    margin-top: 5px;
    background-color: #FAF0E6;
    border-radius: 5px;
}
.bindGroup{
    margin-top: 20%;
}
#bindButton{
    background-color: #c91241;
}
#rejectButton{
    background-color: #fbd977;
}





 